body {
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.container {
 margin: 0 auto;
 max-width: 1100px;
 width: 100%;
}


/* Headers */

.title {
	padding-top: 111px;
	text-align: center;
}

.title__inner {
	padding: 0 20px;
	font-weight: 700;
	font-size: 40px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.title__bar {
	content: "";
	display: block;
	width: 87px;
	height: 4px;
	margin: 14px auto;

	background: black;
	opacity: 15%;
}

.title__subtitle {
	margin: 14px;
	padding: 0 20px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
}

@media (max-width: 1024px) {
	.title {
	padding-top: 50px;
	}
}

@media (max-width: 768px) {
	.title__inner {
		font-size: 30px;
	}
}
@media (max-width: 425px) {
	.title {
		padding-top: 20px;
	}
	.title__inner {
		font-size: 22px;
	}
}


/* Welcome */


.welcome {
	width: 100%;
	background: #87509c;
	overflow: auto;
}

header {
	padding: 56px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {	
	min-width: 100px;
	margin-left: 58px;
	color: #fff;
}

.header__nav {
	margin-right: 58px;
}

.nav__item {
	padding: 4px 15px;
	border-radius: 4px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	transition: background .3s ease;
}

.nav__item:hover {
	background: #643a79;
}

.nav__item.active {
	background: #643a79;
}

.welcome__main {
	padding: 78px 30px 0;
	text-align: center;
	font-size: 42px;
	color: white;
}

.button {
	width: 292px;
	height: 66px;
	border-radius: 3px;
	display: block;
	border: none;
	outline: none;
	cursor: pointer;

	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}

.welcome__button {
	margin: 55px auto;
	background: #eb7d4b;
	box-shadow: 2px 2px #c86a40;
}

.button:active {
	box-shadow: none;
	transform: translate(2px,2px);
}

@media (max-width: 1024px) {
	.welcome__main {
		padding-top: 25px;
		font-size: 38px;
	}
}

@media (max-width: 768px) {
	header {
		flex-direction: column;
		padding-bottom: 25px;
	}
	.header__logo {
		margin: 0;
	}
	.header__nav {
		margin: 0;
		padding-top: 35px;
	}
	.welcome__main {
		font-size: 28px;
		font-weight: 400;
	}
	.button {
		width: 180px;
		height: 40px;
		font-size: 14px;
	}
}

@media (max-width: 425px) {
	header {
		padding: 20px 0;
	}
	.header__nav {
		display: none;
	}
	.welcome__main {
		padding-top: 0;
		font-size: 18px;
		font-weight: 400;
	}
	.welcome__button {
		box-shadow: none;
	}
	.button {
		margin: 20px auto;
		width: 150px;
		border-radius: 7px;
	}
	.button:active {
		transform: none;
	}
	
	.menu-mobile {
		width: 100%;
		height: 100vh;
		position: fixed;
		background-color: grey;
		opacity: 90%;
		z-index: 1;
		
	
		transition: all .5 ease 0s;
	}
	.menu-mobile.active {
		transform: translateY(-600px);
	}

	.burger {
		content: "";
		width: 20px;
		height: 3px;
		background: #ffffff;
		position: absolute;
		right: 15px;
		top: 20px;
		opacity: 100;
		border-radius: 5px;
		z-index: 2;
	}
	.burger::before {
		content: "";
		width: 20px;
		height: 3px;
		background: #ffffff;
		display: block;
		position: relative;
		bottom: 6px;
		border-radius: 5px;
	}
	.burger::after {
		content: "";
		width: 20px;
		height: 3px;
		background: #ffffff;
		display: block;
		position: relative;
		top: 3px;
		border-radius: 5px;
	}
	.burger.active {
		opacity: 0;
	}
}


/* Servises	*/


.servises {
	width: 100%;
	background: #17c2a4;
	color: white;
	overflow: auto;
}

.serv__card {
	margin-top: 81px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.serv__card__item {
	max-width: 350px;
}

.serv__card__item__icon {
}

.serv__card__item__icon	img {
	max-width: 160px;
	max-height: 130px;
}

.serv__card__item__title {
	margin-top: 47px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}

.serv__card__item__subtitle {
	padding: 0 40px;
	line-height: 1.5;
	font-weight: 300;
}

@media (max-width: 1024px) {
	.serv__card {
		margin-top: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.serv__card__item {
		margin-top: 30px;
	}
	.serv__card__item__icon	img {
		max-width: 120px;
		max-height: 90px;
	}
	.serv__card__item__title {
		margin-top: 15px;
		font-weight: 400;
		font-size: 20px;
	}
	.serv__card__item__subtitle {
		padding: 0 25px;
	}
}

@media (max-width: 768px) {
	.serv__card {
		margin: 0 0 20px 0;
	}
	.serv__card__item {
		margin-top: 15px;
	}
}

@media (max-width: 425px) {
	.serv__card {
		margin: 0;
	}
}

/* Team */


.team {
	width: 100%;
	background: #e7f1f8;
	color: #3c4761;
	overflow: auto;
}

.team__card {
	margin: 81px 0 50px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.team__card__item {
	width: 350px;
}

.team__card__item__foto {
}

.team__card__item__name {
	margin-top: 33px;
	text-transform: uppercase;
	font-weight: 700;
}

.team__card__item__position {
	margin-top: 8px;
	font-weight: 400;
	color: #79d0ee;
}

.team__card__item__about {
	margin-top: 20px;
	padding: 0 20px;
	font-weight: 300;
	line-height: 1.5;
}

.team__card__item__icons {
	margin: 10px 0 30px;
	display: inline-flex;
}

.team__card__item__icons__item {
	margin: 0 5px;
	width: 33px;
	height: 33px;

	display:flex;
	justify-content:center;
	align-items:center;

	background-color: #bdd1df;
	border-radius: 50%;
	transition: background .3s ease;
}

.team__card__item__icons__item:hover {
	background: #7fb9e2;
}

.socialfalse {
	display: none;
}

@media (max-width: 1024px) {
	.team__card {
		margin: 40px 0 20px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.team__card__item {
		margin-top: 30px;
	}
	.team__card__item__name {
		margin-top: 15px;
		font-weight: 400;
		font-size: 20px;
	}
	.team__card__item__about {
		padding: 0 25px;
	}
}

@media (max-width: 768px) {
	.team__card {
		margin: 0;
	}
	.team__card__item__foto img {
		width: 150px;
	}
	.team__card__item__name {
		margin-top: 15px;
	}
}

@media (max-width: 425px) {
	.team__card__item {
		margin-top: 15px;
	}
	.team__card__item__foto img {
		width: 100px;
	}
	.team__card__item__about {
		margin-top: 0px;
	}
	.team__card__item__icons {
		margin: 0 0 20px 0;
	}
}


/* We got skills */


.wgs {
	width: 100%;
	background: #fff;
	color: #3c4761;
	overflow: auto;
}

.wgs__card {
	margin: 81px 0 40px;
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.wgs__card__item {
	width: 350px;
}

.wgs__card__item__icon {
	margin: auto;
	width: 140px;
	height: 160px;
}

.wgs__card__item__progress	progress {
	height: 50px;
}

.wgs__card__item__title {
	margin-top: 21px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}

@media (max-width: 1024px) {
	.wgs__card {
		margin-top: 0;
		flex-wrap: wrap;
		justify-content: center;
	}
	.wgs__card__item {
		margin-top: 20px;
	}
	.wgs__card__item__progress {
		margin-top: 15px;
		font-weight: 400;
		font-size: 20px;
	}
	.wgs__card__item__title {
		padding: 0 25px;
	}
}

@media (max-width: 768px) {
	.wgs__card__item {
		margin-top: 0;
	}
	.wgs__card__item__title {
		margin-top: 10px;
		font-size: 20px;
		font-weight: 500;
	}
}

@media (max-width: 425px) {
	.wgs__card {
		margin-bottom: 20px;
	}
	.wgs__card__item__progress-first {
		margin-top: 0;
	}
	.wgs__card__item__title {
		margin-top: 0px;
	}
}


/* Our portfolio */


.portfolio {
	width: 100%;
	background: #ffdd99;
	color: #393939;
	text-align: center;
	overflow: auto;
}

.portfolio__nav {
	margin-top: 27px;
	display: flex;
	justify-content: center;
}

.portfolio__nav__item {
	margin: 10px;
	padding: 10px 17px;
	border-radius: 5px;
	width: 50px;

	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	color: #393939;
	background: #ebc985;
	transition: background .3s ease;
}

.portfolio__nav__item.active {
	background: #fff;
}

.portfolio__nav__item:hover {
	background: #fff;
}

.portfolio__card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.portfolio__card__item {
	margin: 58px 20px 0;
}

.portfolio__card__item__picture {
	max-width: 500px;
}

.portfolio__card__item__picture img {
	max-width: 100%;
}

.portfolio__card__item__title {
	padding-top: 26px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 18px;
}

.portfolio__button {
	margin: 82px auto;
	background: #17c2a4;
	box-shadow: 2px 2px #14a58c;
}

@media (max-width: 1024px) {
	.portfolio__card__item__picture {
		max-width: 350px;
	}
	.portfolio__button {
		margin: 55px auto;
	}

}

@media (max-width: 768px) {}

@media (max-width: 425px) {
	.portfolio__nav {
		margin: 10px auto 0;
		max-width: 300px;
		flex-wrap: wrap;
	}
	.portfolio__card__item {
		margin-top: 28px;
	}
	.portfolio__button {
		margin: 20px auto;
		box-shadow: none;
	}
}


/* About */


.about {
	width: 100%;
	background: #d74680;
	color: #fff;
	overflow: auto;
}

.about__card {
	margin: 70px 0 40px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.about__card__item {
	margin: 30px 20px 0;
	display: flex;
}

.about__card__item__picture img {
	width: 100px;
}

.about__card__item__description {
	padding: 0 30px;
}

.about__card__item__description__info {
	margin: 0;
	max-width: 300px;	
	line-height: 1.5;
	font-weight: 400;
	font-style: italic;
	font-size: 22px;
}

.about__card__item__description__name {
	margin-top: 21px;
	text-transform: uppercase;
}

.about__card__item__description__position {
	margin-top: 5px;
	font-weight: 400;
	font-size: 18px;
}

@media (max-width: 1024px) {
	.about__card {
		margin: 30px 0;
	}
	.about__card__item {
		margin: 30px 30px 0;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.about__card__item__description {
		padding: 30px 0 0 0;
	}
	.about__card__item__picture img {
		width: 150px;
	}
	.about__card__item__description__info {
		font-size: 18px;
	}
	.about__card__item__description__name {
		font-weight: 500;
		font-size: 20px;
	}
	.about__card__item__description__position {
		font-size: 16px;
	}
}

@media (max-width: 768px) {}

@media (max-width: 425px) {
	.about__card {
		margin: 15px 0;
	}
}


/* Get in touch */


.getintouch {
	width: 100%;
	background: #3c5499;
	color: #fff;
	overflow: auto;
}

.getintouch-row {
	margin: 0 auto;
	max-width: 800px;
}

.getintouch__section {
	margin-top: 48px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.sectionform {
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	outline: none;
	color: #fff;
	background: #273a71;
}

.sectionform::placeholder {
	font-size: 20px;
	color: #fff;
	opacity: 70%;
}

.sectionform:focus::placeholder {
	opacity: 0;
	transition: opacity .2s ease;
}

.getintouch__section__name {
	min-width: 250px;
	flex-grow: 1;
	margin: 30px 15px 0 30px;
	height: 35px;
}

.getintouch__section__email {
	min-width: 250px;
	flex-grow: 1;
	margin: 30px 30px 0 15px;
	height: 35px;
}

.getintouch__section__message {
	overflow: hidden;
	margin: 30px;
	flex-grow: 1;
	resize: vertical;
	padding: 15px 20px;
	height: 180px;
	min-height: 25px;
}

.getintouch__button {
	margin: 57px auto;
	background: #30bae7;
	box-shadow: 2px 2px #299ec5;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {
	.getintouch__section {
		flex-direction: column;
	}
	.getintouch__section__name {	
		margin: 30px 30px 0;
	}
	.getintouch__section__email {
		margin: 30px 30px 0;
	}
	.getintouch__section__message {
		margin: 30px 30px 0;
	}
}

@media (max-width: 425px) {
	.getintouch__section {
		margin: 0;
	}
	.getintouch__button {
		margin: 20px auto;
		box-shadow: none;
	}
	.getintouch__section__name {
		margin: 0 20px;
		min-width: auto;
	}
	.getintouch__section__email {
		margin: 5px 20px 0;
		min-width: auto;
	}
	.getintouch__section__message {
		margin: 5px 20px 0;
		min-width: auto;
	}
}

/* Footer  */


footer {
	width: 100%;
	background: #344b8e;
	overflow: auto;
}

.footer__nav {
	margin: 10px 0;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.footer__nav__item {
	margin: 20px 15px;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	font-size: 24px;
	transition: text-shadow .2s ease, color .2s ease;
}

.footer__nav__item:hover {
	text-shadow: 0 0 10px white;
	color: #30bae7;
}

.footer__nav__item.active {
	color: #30bae7;
}